body {
    background: white;
    background: url('');
  }


.jumbotron {
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 0px;
    height: 333px;
}

#coding-img { 
    z-index: 1; 
    position: absolute;
    top: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#hu-img {
    z-index: 4;
    position: absolute;
    top: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#jp-title {
    text-align: center;
    color: 	#80afbd;
    font-family: 'Courgette', cursive;
    font-size: 140px;
    font-weight: bold;
    z-index: 5;
    width: 100%;
    height: 100%;
    letter-spacing: 1px;
    line-height: 110px;
    position: absolute;
    top: 50px;
    margin: 0px;
    padding: 0px;
}

#nav-bar {
    background-color: #80afbd;
    font-family: 'Courgette', cursive;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    color: white; 
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
}

#nav-jp {
    color: white;
    font-family: 'Courgette', cursive;
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#nav-home {
    color: #80afbd;
    background-color:  white;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
}



    