body {
    background: white;
    margin: 0px;
    padding: 0px;
    background: url('');
  }


section {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 960px;
    height: 200px;
    background-color: #4aaaa5;  
    border: 1px solid black;
    margin-top: 0px;
}

#bks-img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;    
}

#css-img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.6;    
}

#html-img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

#up-img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}



    